body {
	font-family: 'Roboto', sans-serif;
}
/* Make content area fill the entire browser window */
html,.fullscreen {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
/* Center the content in the browser window */
.container {
	margin: auto;
}
h1 {
	padding: 0;
	margin: 24px 0 0 16px;
}
h2 {
	padding: 0;
	margin: 32px 0 0 16px;
	font-weight: 400;
}
h3{
	padding: 0;
	margin: 24px 0 0 16px;
	font-weight: 300;
	color: #99A0A5;
}
p {
	font-family: 'Maven Pro', sans-serif;
	padding: 16px 0 0 0;
	margin: 0;
}
a {
	color: #7783F7;
	text-decoration: none;
	display: inline-block;
	margin: 8px 0 0 16px;
}
.is-icon {
	width: 40px;
	height: 40px;
	margin: 20px 0 0 0;
}
.title {
	font-size: 3rem;
}
.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}
.title-wrapper {
	margin-left: 16px;
	display: flex;
}
.card {
	flex: 0 0 auto;
	width: 160px;
	margin: 8px 16px 0 0;
	border-radius: 8px;
	border: 1px solid #f2f2f2;
}
.card:first-child {
	margin-left: 16px;
}
.blue1bg {
	background-color: #4C64F6;
}
.blue2bg {
	background-color: #7783F7;
}
.blue3bg {
	background-color: #110F8D;
}
.orange1bg {
	background-color: #F4A93C;
}
.rose1bg {
	background-color: #D15074;
}
.rose2bg {
	background-color: #E07AD6;
}
.scrolling-wrapper {
	-webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}
.card.blue1bg > p, .card.blue2bg > p, .card.blue3bg > p, .card.orange1bg > p, .card.rose1bg > p, .card.rose2bg > p {
	color: #ffffff;
	font-weight: 400;
	text-align: center;
	margin: 0px 8px 8px 8px;
}
.card.blue1bg, .card.blue2bg, .card.blue3bg, .card.orange1bg, .card.rose1bg, .card.rose2bg {
	border: none;
}
.card > img {
	margin-top: 16px;
	width: 160px;
	height: 96px;
}
.card > iframe {
	border-radius: 8px 8px 0 0;
}
.card > p {
	margin: 0;
	padding: 8px;
}
[data-link] {
	cursor: pointer;
}
footer {
	padding: 120px 0 42px 16px;
}
/* #### Media Queries #### */
@media all and (max-width: 359px) and (min-width: 0px) {
	.container {
	width: 320px;
	}
}
@media all and (max-width: 374px) and (min-width: 360px) {
	.container {
	width: 360px;
	}
}
@media all and (max-width: 411px) and (min-width: 375px) {
	.container {
	width: 375px;
	}
}
@media all and (max-width: 479px) and (min-width: 412px) {
	.container {
	width: 412px;
	}
}
@media all and (max-width: 599px) and (min-width: 480px) {
	.container {
	width: 480px;
	}
}
@media all and (max-width: 767px) and (min-width: 600px) {
	.container {
	width: 600px;
	}
}
@media all and (max-width: 799px) and (min-width: 768px) {
	.container {
	width: 768px;
	}
}
@media all and (max-width: 1023px) and (min-width: 800px) {
	.container {
	width: 800px;
	}
}
@media all and (min-width: 1024px) {
	.container {
	width: 1024px;
	}
}
