body {
  font-family: 'Noto Sans', sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
}

h1, h2, h3, p {
	padding-left: 8px;
	padding-top: 16px;
	padding-bottom: 8px;
	margin: 0;
}

img.logo {
	width: 196px;
	padding: 24px 0px;
}

.title {
  font-size: 3rem;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

  .card {
    flex: 0 0 auto;
    width: 160px;
    margin-right: 16px; 
    border: 1px solid #f2f2f2;
    padding: 8px;
  }

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card > img {
	width: 160px;
	height: 96px;
}

.card > h4 {
	margin: 8px 0;
	padding: 0;
	font-size: 0.8em; 
}

footer {
	padding: 32px 8px; 
}


/* #### Media Queries #### */

@media all and (max-width: 359px) and (min-width: 0px) {
	.container {
		width: 320px;
	}	
}

@media all and (max-width: 374px) and (min-width: 360px) {
	.container {
		width: 360px;
	}	
}

@media all and (max-width: 411px) and (min-width: 375px) {
	.container {
		width: 375px;
	}	
}

@media all and (max-width: 479px) and (min-width: 412px) {
	.container {
		width: 412px;
	}	
}

@media all and (max-width: 599px) and (min-width: 480px) {
	.container {
		width: 480px;
	}	
}

@media all and (max-width: 767px) and (min-width: 600px) {
	.container {
		width: 600px;
	}	
}

@media all and (max-width: 799px) and (min-width: 768px) {
	.container {
		width: 768px;
	}	
}

@media all and (max-width: 1023px) and (min-width: 800px) {
	.container {
		width: 800px;
	}	
}

@media all and (min-width: 1024px) {
	.container {
		width: 1024px;
	}	
}







