body {
  font-family: 'Noto Sans', sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
}

h1, h2, h3, p {
	padding-left: 8px;
}

.title {
  font-size: 3rem;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

  .card {
    flex: 0 0 auto;
    width: 160px;
    margin-right: 16px; 
    border: 1px solid #f2f2f2;
    padding: 8px;
  }

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card > img {
	width: 160px;
	height: 96px;
}

.card > h4 {
	margin: 8px 0;
	padding: 0;
	font-size: 0.8em; 
}

footer {
	padding: 32px 8px; 
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
  .container {
  	width: 480px;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
    .container {
  	width: 640px;
  }
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
    .container {
  	width: 640px;
  }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
    .container {
  	width: 320px;
  }
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
    .container {
  	width: 480px;
  }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  /* some CSS here */
    .container {
  	width: 375px;
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
    .container {
  	width: 768px;
  }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
    .container {
  	width: 1024px;
  }
}
